body {
    background-color: rgba(6, 13, 3, 0.85);
}

h1 {
    color: white;
}

#progress {
    width: 900px;
    background-color: lightgray;
    height: 30px;
    margin-top: 40px;
}

#bar {
    width: 0%;
    background-color: green;
    height: 30px;
}